Source: keyvi
Section: database
Priority: optional
Maintainer: Hendrik Muhs <hendrik.muhs@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               scons,
               cmake,
               debhelper (>= 9~),
               libboost-dev (>= 1.50),
               libboost-date-time-dev(>= 1.50),
               libboost-thread-dev(>= 1.50),
               libboost-regex-dev(>= 1.50),
               libboost-filesystem-dev(>= 1.50),
               libboost-system-dev(>= 1.50),
               libboost-program-options-dev(>= 1.50),
               libboost-iostreams-dev(>=1.50),
               libboost-test-dev(>=1.50),
               libsnappy-dev,
               python-dev,
               python,
               python2.7-dev,
               python2.7,
               python-setuptools,
               cython,
               dh-python,
               zlib1g-dev
Standards-Version: 3.9.4
Homepage: http://www.keyvi.org

Package: keyvi
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: key value index
 Keyvi is key value index based on Finite State Transducer

Package: python-keyvi
Section: python
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: python bindings for keyvi
 Keyvi is key value index based on Finite State Transducer
