recursive-include autowrap_includes *.hpp
recursive-include keyvi/src/cpp *.h
recursive-include keyvi/3rdparty *.h
recursive-include keyvi/3rdparty *.inl
recursive-include keyvi/3rdparty *.hpp
recursive-include keyvi/3rdparty *.a
