---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
"
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             misc-include-cleaner.IgnoreHeaders
    # The following files are ignored when clang-tidy analyzes header
    # inclusions:
    # - boost detail
    value:           '
                     boost/.*/detail/.*\.hpp;
                     '
