# PyTest
.cache
.pytest_cache

.python-version

# build artifacts
keyvi.egg-info/
build/
dist/
src/cpp/build*
__pycache__/
*.py[cod]
*.so
*.egg-info
MANIFEST
_core.pyi
_core_p.cpp

# autowrap artifacts
_core.pyx
_core.cpp

src/py/keyvi/_version.py
