# PyTest
.cache
.pytest_cache

# build artifacts
keyvi.egg-info/
build/
dist/
src/cpp/build*
__pycache__/
*.py[cod]
*.so
*.egg-info
MANIFEST

# autowrap artifacts
_core.pyx
_core.cpp

src/py/keyvi/_version.py
