# PyTest
.cache
.pytest_cache

# Python local version
.python-version

# build artifacts
keyvi.egg-info/
build/
dist/
src/cpp/build*
__pycache__/
*.py[cod]
*.so
*.egg-info
MANIFEST

# autowrap artifacts
_core.pyx
_core.cpp
_core_p.cpp
_core.pyi

src/py/keyvi/_version.py
