recursive-include autowrap_includes *.hpp
graft src
include _core.cpp

recursive-include src/cpp/keyvi/bin *.cpp
recursive-include src/cpp/keyvi/include/keyvi *.h

recursive-include src/cpp/keyvi/3rdparty *.h
recursive-include src/cpp/keyvi/3rdparty *.inl
recursive-include src/cpp/keyvi/3rdparty *.hpp
recursive-include src/cpp/keyvi/3rdparty *.cpp
recursive-include src/cpp/keyvi/3rdparty *.cpp.in

recursive-include src/cpp/keyvi/3rdparty CMakeLists.txt
recursive-include src/cpp/keyvi/3rdparty *.cmake
recursive-include src/cpp/keyvi/3rdparty *.cmake.in

include src/cpp/CMakeLists.txt
include description.md
