---
# be less strict for tests
InheritParentConfig: true
Checks: "-cppcoreguidelines-avoid-magic-numbers,
         -misc-include-cleaner,
         -readability-function-cognitive-complexity,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -readability-magic-numbers,
"
