name: Python Linux docker cibuildwheel

on:
  push:
    branches: [ master ]
    paths:
      - 'docker/**'
      - '.github/workflows/python-dockerimages-cibuildwheel.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'docker/**'
      - '.github/workflows/python-dockerimages-cibuildwheel.yml'
  workflow_dispatch:

jobs:
  build_docker:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          base_image: [many, musl]
          os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Sets platform/arch for arm64
        run: |
          echo "PLATFORM=linux/arm64" >> $GITHUB_ENV
          echo "ARCH=aarch64" >> $GITHUB_ENV
        if: matrix.os == 'ubuntu-24.04-arm'
      - name: Sets platform/arch for amd64
        run: |
          echo "PLATFORM=linux/amd64" >> $GITHUB_ENV
          echo "ARCH=x86_64" >> $GITHUB_ENV
        if: matrix.os == 'ubuntu-24.04'
      - name: Build and push ${{ matrix.base_image }}-${{ env.ARCH }} docker image
        uses: docker/build-push-action@v6
        with:
          context: docker/${{ matrix.base_image }}linux-builder-${{ env.ARCH }}
          build-contexts: scripts=docker/scripts
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: ${{ env.PLATFORM }}
          push: ${{ github.event_name == 'push' }}
          tags: keyvidev/${{ matrix.base_image }}linux-builder-${{ env.ARCH }}
