# Build python bindings
name: Build python bindings

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9' ]
        os: [ 'macos-latest', 'ubuntu-20.04' ]
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }} build
    steps:
      - name: install Linux deps
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libsnappy-dev libzzip-dev zlib1g-dev libboost-all-dev
          sudo apt-get install ccache
      - name: install macOS deps
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install zlib snappy boost
          brew install ccache
          sudo xcode-select -s "/Applications/Xcode_12.app"
      - name: checkout from git
        uses: actions/checkout@v2
      
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ matrix.os }}-python
      
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          cd python
          python -m pip install -r requirements.txt
          python setup.py build --mode Release
          python setup.py install --user
          python -m pytest tests
          python -m pytest integration-tests
