# This is a basic workflow to help you get started with Actions

name: check style

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # fetch all history so multiple commits can be scanned
      - name: install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-6.0
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-6.0 1000
      - uses: BSFishy/pip-action@v1
        with:
          packages: cpplint
      - name: run the style script
        env:
          GITHUB_PUSH_BASE_SHA: ${{ github.event.base }}
          GITHUB_PULL_REQUEST_BASE_SHA: ${{ github.event.pull_request.base.sha }}
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          ./keyvi/check-style.sh
